<div class="container">
  <h2>Sign Up</h2>
  <fieldset>
      <form name='signupCtrl.regForm' novalidate>

        <input type="text" name="firstname" placeholder="First name"
          ng-model="signupCtrl.user.firstname"
          required
          minlength="4"
          ng-maxlength="10">
          <span
            ng-if="(signupCtrl.regForm.firstname.$error.minlength || signupCtrl.regForm.firstname.$error.required) && signupCtrl.regForm.firstname.$touched">
            First name must be at least 4 characters long
          </span>
          <span ng-if="signupCtrl.regForm.firstname.$error.maxlength && signupCtrl.regForm.firstname.$touched">
            First name must not be longer than 10 characters
          </span>
          <br>

          <input type="text" name="lastname" placeholder="Last name"
            ng-model="signupCtrl.user.lastname"
            required
            minlength="4"
            ng-maxlength="10">
            <span
              ng-if="(signupCtrl.regForm.lastname.$error.minlength || signupCtrl.regForm.lastname.$error.required) && signupCtrl.regForm.lastname.$touched">
              Last name must be at least 4 characters long
            </span>
            <span ng-if="signupCtrl.regForm.lastname.$error.maxlength && signupCtrl.regForm.lastname.$touched">
              Last name must not be longer than 10 characters
            </span>
            <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="signupCtrl.user.email"
          required>
          <span ng-if="signupCtrl.regForm.email.$invalid && signupCtrl.regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="signupCtrl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="signupCtrl.regForm.phone.$invalid && signupCtrl.regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

                    <input type="text" name="shortname" placeholder="Favorite dish"
                      ng-model="signupCtrl.user.shortname"
                      required>
                      <span
                        ng-if="signupCtrl.regForm.shortname.$error.required && signupCtrl.regForm.shortname.$touched">
                        Favorite dish must be provided
                      </span>
                      <span ng-if="signupCtrl.regForm.shortname.$error.notExists && signupCtrl.regForm.shortname.$touched">
                        No such menu number exists
                      </span>
                      <br>
        <button ng-disabled="signupCtrl.regForm.$invalid" ng-click="signupCtrl.submit()">Submit</button>
        <p ng-if="signupCtrl.signed">Your information has been saved</p>
      </form>
</fieldset>
</div>
